<h2 class="page-header">
    Manage Categories
    <%= link_to "Create New", new_admin_category_path, class: 'btn btn-primary pull-right' %>
</h2>
<table class="table table-striped">
    <tr>
        <th>Category Title</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
        <tr>
            <td>
                <%= category.name %>
            </td>
            <td>
                <%= category.created_at.strftime('%d %B %Y | %H:%M') %>
            </td>
            <td>
                <%= category.updated_at.strftime('%d %B %Y | %H:%M') %>
            </td>
            <td>
                <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-primary' %>
                <%= link_to 'delete', admin_category_path(category), method: :delete, data: { confirm: 'Really delete this category?'}, class: 'btn btn-danger' %>
            </td>
        </tr>
    <% end %>
</table>