
<%= simple_form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
        <% @user.errors.full_messages.each do |message| %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
        <% end %>
    <% end %>

    <div class="form-group">
        <%= f.input :name, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.input :email, class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.input :password, label: 'New Password', class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= f.input :password_confirmation, label: 'New Password Confirmation', class: 'form-control' %>
    </div>
    <br>
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to "Cancel", admin_users_path, class: 'btn btn-default' %>
<% end %>
