<h2 class="page-header">
    Manage Users
    <%= link_to "Create New", new_admin_user_path, class: 'btn btn-success pull-right' %>
</h2>
  
<% if @users.any? %>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>ID</th>
            <th>Post Count</th>
            <th>Last Posted</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>

        <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.posts.count %>
                </td>
                <td>
                    <%= user.posts.last.updated_at.strftime('%d %B %Y | %H:%M') %>
                </td>
                <td>
                    <%= user.created_at.strftime('%d %B %Y | %H:%M') %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-primary' %>
                    <%= link_to 'delete', admin_user_path(user), method: :delete, data: { confirm: 'Really delete this post?'}, class: 'btn btn-danger' %>
                </td>
            </tr>
        <% end %>
    </table>
    <%= will_paginate @users %>
<% else %>
    <p>There are no users, yet.</p> 
<% end %>
    
