<!DOCTYPE html>
<html>

<head>
    <title>bartyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

    <%= render 'shared/nav' %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <% if flash[:notice] %>
                        <div class="alert alert-success">
                            <%= flash[:notice] %>
                        </div>
                    <% end %>

                    <% if flash[:alert] %>
                        <div class="alert alert-danger">
                            <%= flash[:alert] %>
                        </div>
                    <% end %>
                    <well>
                        <%= yield %>
                    </well>
                </div>
                <div class="col-md-4">
                    <%= render 'shared/list' %>
                </div>
            </div>
        </div>
    </section>

    <%= render 'shared/footer' %>
</body>

</html>